In [1]:
import psycopg2
import pandas as pd
import boto3
import json

In [100]:
def create_database(access_key, secret_key, session_token):
    try:
        # Initialize boto3 client with AWS temporary credentials
        client = boto3.client(
            'secretsmanager',
            region_name='us-east-1',
            aws_access_key_id=access_key,
            aws_secret_access_key=secret_key,
            aws_session_token=session_token
        )
        
        # Retrieve secret value
        response = client.get_secret_value(
            SecretId='arn:aws:secretsmanager:us-east-1:975050109362:secret:f1secret-gPF5EE'
        )
        print("Successfully retrieved secret")
        
        responseDict = json.loads(response['SecretString'])
        
        # Connect to the PostgreSQL database
        conn = psycopg2.connect(
            host=responseDict["host"], 
            dbname="postgres", 
            user=responseDict["username"], 
            password=responseDict["password"]
        )
        conn.set_session(autocommit=True)
        cur = conn.cursor()
        print("Successfully connected to the postgres database")
        
        # Drop and create the database
        cur.execute("DROP DATABASE IF EXISTS f1db")
        cur.execute("CREATE DATABASE f1db")
        print("Successfully dropped and created f1db")
        
        conn.close()

        # Connect to the newly created database
        conn = psycopg2.connect(
            host=responseDict["host"], 
            dbname="f1db", 
            user=responseDict["username"], 
            password=responseDict["password"]
        )
        cur = conn.cursor()
        print("Successfully connected to the new f1db database")

        return cur, conn
    except psycopg2.Error as e:
        print("Error: Could not make connection to the Postgres database")
        print(e)
    except client.exceptions.ClientError as e:
        print("Error: Could not retrieve secret from AWS Secrets Manager")
        print(e)
    except Exception as e:
        print("An unexpected error occurred")
        print(e)

access_key = 'ASIA6GBMD6GZJOYDLSO6'
secret_key = 'uj/frq8xoBtg1tQFWcbYvdNOTrnKy6AsKLg6uSqu'
session_token = 'IQoJb3JpZ2luX2VjEFoaCXVzLWVhc3QtMSJHMEUCIGu9OsaeGkiAjm+ccaBspzUoQuyF/2z1opWaHwf/aEmUAiEA6yYsJSXzVYBL4umxVgqOg2iZ+lZrXhjyFWMT5LATAREq9AEI8///////////ARAAGgw5NzUwNTAxMDkzNjIiDH6Z/lwHhvnkeiC7cirIAUX7q75YvZbbicmejR7BoOdER5vYKJ29tG8Zea7u8yumEpD6ELIAI8ukh1/9tEkf2dV+irL1Q9aIeB72Bq3mJvJPe6dipa/Thm0/vDwDPnqrjWlomfIEixZSZAr/91P2cEl9HBhFQpETmo2YllDsmw+pwBFneLEBSKFG2xhd177c2LCdpL44Y2WMQt7HfyXk/FnpVUDKQH82KMnEHqMS0P7cWBxb3N4X9+B1Bw0/X1zc1VgxEfVI2oXHTNmm8IeD8ilTQ0U9RlMUMJ/mwbMGOpgBTb0Ya+F2tznXwFxrc7wgeP++ZuYeLoK/tqp+D9iOgYkLlRf/sl21XocKvqXNOoQDUrbNN7BnIORQoYutuiAMMfWSN8x4QTZ8Dfh5VXNe60HfWCYPGX1+8N2rEev2mZ7VhzFmNaLinsdSFGbhXzzTPBc9FMgnv6RzLEGsqYLXJ8LKiJsK9UVpPjoHg+inSBj058Q6LMKs/to='

cur, conn = create_database(access_key, secret_key, session_token)

Successfully retrieved secret
Successfully connected to the postgres database
Successfully dropped and created f1db
Successfully connected to the new f1db database

In [5]:
drivers = pd.read_csv("drivers_updated.csv")
fastest_laps = pd.read_csv("fastest_laps_updated.csv")
teams = pd.read_csv("teams_updated.csv")
winners = pd.read_csv("winners.csv")

In [7]:
drivers.head(50)

,Pos,Driver,Nationality,Car,PTS,year,Code
0,1,Nino Farina,ITA,Alfa Romeo,30.0,1950,FAR
1,2,Juan Manuel Fangio,ARG,Alfa Romeo,27.0,1950,FAN
2,3,Luigi Fagioli,ITA,Alfa Romeo,24.0,1950,FAG
3,4,Louis Rosier,FRA,Talbot-Lago,13.0,1950,ROS
4,5,Alberto Ascari,ITA,Ferrari,11.0,1950,ASC
5,6,Johnnie Parsons,USA,Kurtis Kraft Offenhauser,9.0,1950,PAR
6,7,Bill Holland,USA,Deidt Offenhauser,6.0,1950,HOL
7,8,Prince Bira,THA,Maserati,5.0,1950,BIR
8,9,Reg Parnell,GBR,Maserati,4.0,1950,PAR
9,9,Louis Chiron,MON,Maserati,4.0,1950,CHI
10,9,Mauri Rose,USA,Deidt Offenhauser,4.0,1950,ROS
11,9,Peter Whitehead,GBR,Ferrari,4.0,1950,WHI
12,13,Yves Giraud Cabantous,FRA,Talbot-Lago,3.0,1950,CAB
13,13,Raymond Sommer,FRA,Talbot-Lago,3.0,1950,SOM
14,13,Cecil Green,USA,Kurtis Kraft Offenhauser,3.0,1950,GRE
15,13,Robert Manzon,FRA,Simca-Gordini,3.0,1950,MAN
16,13,Dorino Serafini,ITA,NaN,3.0,1950,SER
17,13,Philippe Etancelin,FRA,NaN,3.0,1950,ETA
18,19,Felice Bonetto,ITA,Maserati Milano,2.0,1950,BON
19,20,Tony Bettenhausen,USA,Deidt Offenhauser,1.0,1950,BET
20,20,Joie Chitwood,USA,Kurtis Kraft Offenhauser,1.0,1950,CHI
21,20,Eugene Chaboud,FRA,NaN,1.0,1950,CHA
22,1,Juan Manuel Fangio,ARG,Alfa Romeo,31.0,1951,FAN
23,2,Alberto Ascari,ITA,Ferrari,25.0,1951,ASC
24,3,Jose Froilan Gonzalez,ARG,Ferrari,24.0,1951,GON
25,4,Nino Farina,ITA,Alfa Romeo,19.0,1951,FAR
26,5,Luigi Villoresi,ITA,Ferrari,15.0,1951,VIL
27,6,Piero Taruffi,ITA,Ferrari,10.0,1951,TAR
28,7,Lee Wallard,USA,Kurtis Kraft Offenhauser,9.0,1951,WAL
29,8,Felice Bonetto,ITA,Alfa Romeo,7.0,1951,BON
30,9,Mike Nazaruk,USA,Kurtis Kraft Offenhauser,6.0,1951,NAZ
31,10,Reg Parnell,GBR,BRM,5.0,1951,PAR
32,11,Luigi Fagioli,ITA,Alfa Romeo,4.0,1951,FAG
33,12,Consalvo Sanesi,ITA,Alfa Romeo,3.0,1951,SAN
34,12,Andy Linden,USA,Sherman Offenhauser,3.0,1951,LIN
35,12,Louis Rosier,FRA,NaN,3.0,1951,ROS
36,15,Toulo de Graffenried,SUI,Alfa Romeo,2.0,1951,DEG
37,15,Manny Ayulo,USA,Kurtis Kraft Offenhauser,2.0,1951,AYU
38,15,Bobby Ball,USA,Schroeder Offenhauser,2.0,1951,BAL
39,15,Jack McGrath,USA,Kurtis Kraft Offenhauser,2.0,1951,MCG
40,15,Yves Giraud Cabantous,FRA,Talbot-Lago,2.0,1951,CAB
41,1,Alberto Ascari,ITA,Ferrari,36.0,1952,ASC
42,2,Nino Farina,ITA,Ferrari,24.0,1952,FAR
43,3,Piero Taruffi,ITA,Ferrari,22.0,1952,TAR
44,4,Rudi Fischer,SUI,Ferrari,10.0,1952,FIS
45,4,Mike Hawthorn,GBR,Cooper Bristol,10.0,1952,HAW
46,6,Robert Manzon,FRA,Gordini,9.0,1952,MAN
47,7,Troy Ruttman,USA,Kuzma Offenhauser,8.0,1952,RUT
48,7,Luigi Villoresi,ITA,Ferrari,8.0,1952,VIL
49,9,Jose Froilan Gonzalez,ARG,Maserati,6.5,1952,GON

In [48]:
drivers.notnull()

       Pos  Driver  Nationality   Car   PTS  year  Code
0     True    True         True  True  True  True  True
1     True    True         True  True  True  True  True
2     True    True         True  True  True  True  True
3     True    True         True  True  True  True  True
4     True    True         True  True  True  True  True
...    ...     ...          ...   ...   ...   ...   ...
1656  True    True         True  True  True  True  True
1657  True    True         True  True  True  True  True
1658  True    True         True  True  True  True  True
1659  True    True         True  True  True  True  True
1660  True    True         True  True  True  True  True

[1661 rows x 7 columns]

In [17]:
drivers.dtypes

Pos             object
Driver          object
Nationality     object
Car             object
PTS            float64
year             int64
Code            object
dtype: object

In [11]:
fastest_laps.head(50)

,Grand Prix,Driver,Car,Time,year,Code
0,Great Britain,Nino Farina,Alfa Romeo,1:50.600,1950,FAR
1,Monaco,Juan Manuel Fangio,Alfa Romeo,1:51.000,1950,FAN
2,Indianapolis 500,Johnnie Parsons,Kurtis Kraft Offenhauser,NaN,1950,PAR
3,Switzerland,Nino Farina,Alfa Romeo,2:41.600,1950,FAR
4,Belgium,Nino Farina,Alfa Romeo,4:34.100,1950,FAR
5,France,Juan Manuel Fangio,Alfa Romeo,2:35.600,1950,FAN
6,Italy,Juan Manuel Fangio,Alfa Romeo,2:00.000,1950,FAN
7,Switzerland,Juan Manuel Fangio,Alfa Romeo,2:51.100,1951,FAN
8,Indianapolis 500,Lee Wallard,Kurtis Kraft Offenhauser,1:07.260,1951,WAL
9,Belgium,Juan Manuel Fangio,Alfa Romeo,4:22.100,1951,FAN
10,France,Juan Manuel Fangio,Alfa Romeo,2:27.800,1951,FAN
11,Great Britain,Nino Farina,Alfa Romeo,1:44.000,1951,FAR
12,Germany,Juan Manuel Fangio,Alfa Romeo,9:55.800,1951,FAN
13,Italy,Nino Farina,Alfa Romeo,1:56.500,1951,FAR
14,Spain,Juan Manuel Fangio,Alfa Romeo,2:16.930,1951,FAN
15,Switzerland,Piero Taruffi,Ferrari,2:49.100,1952,TAR
16,Indianapolis 500,Bill Vukovich,Kurtis Kraft Offenhauser,1:06.600,1952,VUK
17,Belgium,Alberto Ascari,Ferrari,4:55.000,1952,ASC
18,France,Alberto Ascari,Ferrari,2:17.300,1952,ASC
19,Great Britain,Alberto Ascari,Ferrari,1:52.000,1952,ASC
20,Germany,Alberto Ascari,Ferrari,10:05.100,1952,ASC
21,Netherlands,Alberto Ascari,Ferrari,1:49.800,1952,ASC
22,Italy,Alberto Ascari,Ferrari,2:06.100,1952,ASC
23,Argentina,Alberto Ascari,Ferrari,1:48.400,1953,ASC
24,Indianapolis 500,Bill Vukovich,Kurtis Kraft Offenhauser,1:06.240,1953,VUK
25,Netherlands,Luigi Villoresi,Ferrari,1:52.800,1953,VIL
26,Belgium,Jose Froilan Gonzalez,Maserati,4:34.000,1953,GON
27,France,Juan Manuel Fangio,Maserati,2:41.100,1953,FAN
28,Great Britain,Alberto Ascari,Ferrari,1:50.000,1953,ASC
29,Germany,Alberto Ascari,Ferrari,9:56.000,1953,ASC
30,Switzerland,Alberto Ascari,Ferrari,2:41.300,1953,ASC
31,Italy,Juan Manuel Fangio,Maserati,2:04.500,1953,FAN
32,Argentina,Jose Froilan Gonzalez,Ferrari,1:48.200,1954,GON
33,Indianapolis 500,Jack McGrath,Kurtis Kraft Offenhauser,1:04.040,1954,MCG
34,Belgium,Juan Manuel Fangio,Maserati,4:25.500,1954,FAN
35,France,Hans Herrmann,Mercedes-Benz,2:32.900,1954,HER
36,Great Britain,Alberto Ascari,Maserati,1:50.000,1954,ASC
37,Germany,Karl Kling,Mercedes-Benz,9:55.100,1954,KLI
38,Switzerland,Juan Manuel Fangio,Mercedes-Benz,2:39.700,1954,FAN
39,Italy,Jose Froilan Gonzalez,Ferrari,2:00.800,1954,GON
40,Spain,Alberto Ascari,Lancia,2:20.400,1954,ASC
41,Argentina,Juan Manuel Fangio,Mercedes-Benz,1:48.300,1955,FAN
42,Monaco,Juan Manuel Fangio,Mercedes-Benz,1:42.400,1955,FAN
43,Indianapolis 500,Bill Vukovich,Kurtis Kraft Offenhauser,1:03.670,1955,VUK
44,Belgium,Juan Manuel Fangio,Mercedes-Benz,4:20.600,1955,FAN
45,Netherlands,Roberto Mieres,Maserati,1:40.900,1955,MIE
46,Great Britain,Stirling Moss,Mercedes-Benz,2:00.400,1955,MOS
47,Italy,Stirling Moss,Mercedes-Benz,2:46.900,1955,MOS
48,Argentina,Juan Manuel Fangio,Ferrari,1:45.300,1956,FAN
49,Monaco,Juan Manuel Fangio,Ferrari,1:44.400,1956,FAN

In [21]:
fastest_laps.dtypes

Grand Prix    object
Driver        object
Car           object
Time          object
year           int64
Code          object
dtype: object

In [28]:
fastest_laps.Time.describe()

count         1107
unique        1080
top       1:40.400
freq             3
Name: Time, dtype: object

In [13]:
teams.head(50)

   Pos                Team   PTS  year
0    1             Vanwall  48.0  1958
1    2             Ferrari  40.0  1958
2    3       Cooper Climax  31.0  1958
3    4                 BRM  18.0  1958
4    5            Maserati   6.0  1958
5    6        Lotus Climax   3.0  1958
6    1       Cooper Climax  40.0  1959
7    2             Ferrari  32.0  1959
8    3                 BRM  18.0  1959
9    4        Lotus Climax   5.0  1959
10   1       Cooper Climax  48.0  1960
11   2        Lotus Climax  34.0  1960
12   3             Ferrari  26.0  1960
13   4                 BRM   8.0  1960
14   5     Cooper Maserati   3.0  1960
15   6  Cooper Castellotti   3.0  1960
16   1             Ferrari  40.0  1961
17   2        Lotus Climax  32.0  1961
18   3             Porsche  22.0  1961
19   4       Cooper Climax  14.0  1961
20   5          BRM Climax   7.0  1961
21   1                 BRM  42.0  1962
22   2        Lotus Climax  36.0  1962
23   3       Cooper Climax  29.0  1962
24   4         Lola Climax  19.0  1962
25   5             Porsche  18.0  1962
26   6             Ferrari  18.0  1962
27   7      Brabham Climax   6.0  1962
28   8           Lotus BRM   1.0  1962
29   1        Lotus Climax  54.0  1963
30   2                 BRM  36.0  1963
31   3      Brabham Climax  28.0  1963
32   4             Ferrari  26.0  1963
33   5       Cooper Climax  25.0  1963
34   6             BRP BRM   6.0  1963
35   7             Porsche   5.0  1963
36   8           Lotus BRM   4.0  1963
37   1             Ferrari  45.0  1964
38   2                 BRM  42.0  1964
39   3        Lotus Climax  37.0  1964
40   4      Brabham Climax  30.0  1964
41   5       Cooper Climax  16.0  1964
42   6         Brabham BRM   7.0  1964
43   7             BRP BRM   5.0  1964
44   8           Lotus BRM   3.0  1964
45   1        Lotus Climax  54.0  1965
46   2                 BRM  45.0  1965
47   3      Brabham Climax  27.0  1965
48   4             Ferrari  26.0  1965
49   5       Cooper Climax  14.0  1965

In [54]:
teams.notnull().all(axis=1)

0      True
1      True
2      True
3      True
4      True
       ...
690    True
691    True
692    True
693    True
694    True
Length: 695, dtype: bool

In [24]:
teams.dtypes

Pos      object
Team     object
PTS     float64
year      int64
dtype: object

In [15]:
winners.head(50)

,Grand Prix,Date,Winner,Car,Laps,Time,Name Code
0,Great Britain,1950-05-13,Nino Farina,Alfa Romeo,70.0,2:13:23.600,FAR
1,Monaco,1950-05-21,Juan Manuel Fangio,Alfa Romeo,100.0,3:13:18.700,FAN
2,Indianapolis 500,1950-05-30,Johnnie Parsons,Kurtis Kraft Offenhauser,138.0,2:46:55.970,PAR
3,Switzerland,1950-06-04,Nino Farina,Alfa Romeo,42.0,2:02:53.700,FAR
4,Belgium,1950-06-18,Juan Manuel Fangio,Alfa Romeo,35.0,2:47:26.000,FAN
5,France,1950-07-02,Juan Manuel Fangio,Alfa Romeo,64.0,2:57:52.800,FAN
6,Italy,1950-09-03,Nino Farina,Alfa Romeo,80.0,2:51:17.400,FAR
7,Switzerland,1951-05-27,Juan Manuel Fangio,Alfa Romeo,42.0,2:07:53.640,FAN
8,Indianapolis 500,1951-05-30,Lee Wallard,Kurtis Kraft Offenhauser,200.0,3:57:38.050,WAL
9,Belgium,1951-06-17,Nino Farina,Alfa Romeo,36.0,2:45:46.200,FAR
10,France,1951-07-01,Juan Manuel Fangio,Alfa Romeo,77.0,3:22:11.000,FAN
11,France,1951-07-01,Luigi Fagioli,Alfa Romeo,NaN,NaN,FAG
12,Great Britain,1951-07-14,Jose Froilan Gonzalez,Ferrari,90.0,2:42:18.200,GON
13,Germany,1951-07-29,Alberto Ascari,Ferrari,20.0,3:23:03.300,ASC
14,Italy,1951-09-16,Alberto Ascari,Ferrari,80.0,2:42:39.300,ASC
15,Spain,1951-10-28,Juan Manuel Fangio,Alfa Romeo,70.0,2:46:54.100,FAN
16,Switzerland,1952-05-18,Piero Taruffi,Ferrari,62.0,3:01:46.100,TAR
17,Indianapolis 500,1952-05-30,Troy Ruttman,Kuzma Offenhauser,200.0,3:52:41.880,RUT
18,Belgium,1952-06-22,Alberto Ascari,Ferrari,36.0,3:03:46.300,ASC
19,France,1952-07-06,Alberto Ascari,Ferrari,77.0,3:00:00.000,ASC
20,Great Britain,1952-07-19,Alberto Ascari,Ferrari,85.0,2:44:11.000,ASC
21,Germany,1952-08-03,Alberto Ascari,Ferrari,18.0,3:06:13.300,ASC
22,Netherlands,1952-08-17,Alberto Ascari,Ferrari,90.0,2:53:28.500,ASC
23,Italy,1952-09-07,Alberto Ascari,Ferrari,80.0,2:50:45.600,ASC
24,Argentina,1953-01-18,Alberto Ascari,Ferrari,97.0,3:01:04.600,ASC
25,Indianapolis 500,1953-05-30,Bill Vukovich,Kurtis Kraft Offenhauser,200.0,3:53:01.690,VUK
26,Netherlands,1953-06-07,Alberto Ascari,Ferrari,90.0,2:53:35.800,ASC
27,Belgium,1953-06-21,Alberto Ascari,Ferrari,36.0,2:48:30.300,ASC
28,France,1953-07-05,Mike Hawthorn,Ferrari,60.0,2:44:18.600,HAW
29,Great Britain,1953-07-18,Alberto Ascari,Ferrari,90.0,2:50:00.000,ASC
30,Germany,1953-08-02,Nino Farina,Ferrari,18.0,3:02:25.000,FAR
31,Switzerland,1953-08-23,Alberto Ascari,Ferrari,65.0,3:01:34.400,ASC
32,Italy,1953-09-13,Juan Manuel Fangio,Maserati,80.0,2:49:45.900,FAN
33,Argentina,1954-01-17,Juan Manuel Fangio,Maserati,87.0,3:00:55.800,FAN
34,Indianapolis 500,1954-05-31,Bill Vukovich,Kurtis Kraft Offenhauser,200.0,3:49:17.270,VUK
35,Belgium,1954-06-20,Juan Manuel Fangio,Maserati,36.0,2:44:42.400,FAN
36,France,1954-07-04,Juan Manuel Fangio,Mercedes-Benz,61.0,2:42:47.900,FAN
37,Great Britain,1954-07-17,Jose Froilan Gonzalez,Ferrari,90.0,2:56:14.000,GON
38,Germany,1954-08-01,Juan Manuel Fangio,Mercedes-Benz,22.0,3:45:45.800,FAN
39,Switzerland,1954-08-22,Juan Manuel Fangio,Mercedes-Benz,66.0,3:00:34.500,FAN
40,Italy,1954-09-05,Juan Manuel Fangio,Mercedes-Benz,80.0,2:47:47.900,FAN
41,Spain,1954-10-24,Mike Hawthorn,Ferrari,80.0,3:13:52.100,HAW
42,Argentina,1955-01-16,Juan Manuel Fangio,Mercedes-Benz,96.0,3:00:38.600,FAN
43,Monaco,1955-05-22,Maurice Trintignant,Ferrari,100.0,2:58:09.700,TRI
44,Indianapolis 500,1955-05-30,Bob Sweikert,Kurtis Kraft Offenhauser,200.0,3:53:59.530,SWE
45,Belgium,1955-06-05,Juan Manuel Fangio,Mercedes-Benz,36.0,2:39:29.000,FAN
46,Netherlands,1955-06-19,Juan Manuel Fangio,Mercedes-Benz,100.0,2:54:23.800,FAN
47,Great Britain,1955-07-16,Stirling Moss,Mercedes-Benz,90.0,3:07:21.200,MOS
48,Italy,1955-09-11,Juan Manuel Fangio,Mercedes-Benz,50.0,2:25:04.400,FAN
49,Argentina,1956-01-22,Luigi Musso,Ferrari,NaN,NaN,MUS

In [26]:
winners.dtypes

Grand Prix     object
Date           object
Winner         object
Car            object
Laps          float64
Time           object
Name Code      object
dtype: object

In [38]:
drivers.columns

Index(['Pos', 'Driver', 'Nationality', 'Car', 'PTS', 'year', 'Code'], dtype='object')

In [40]:
fastest_laps.columns

Index(['Grand Prix', 'Driver', 'Car', 'Time', 'year', 'Code'], dtype='object')

In [44]:
teams.columns

Index(['Pos', 'Team', 'PTS', 'year'], dtype='object')

In [46]:
winners.columns

Index(['Grand Prix', 'Date', 'Winner', 'Car', 'Laps', 'Time', 'Name Code'], dtype='object')

In [78]:
winners.head()

,Grand Prix,Date,Winner,Car,Laps,Time,Name Code
0,Great Britain,1950-05-13,Nino Farina,Alfa Romeo,70.0,2:13:23.600,FAR
1,Monaco,1950-05-21,Juan Manuel Fangio,Alfa Romeo,100.0,3:13:18.700,FAN
2,Indianapolis 500,1950-05-30,Johnnie Parsons,Kurtis Kraft Offenhauser,138.0,2:46:55.970,PAR
3,Switzerland,1950-06-04,Nino Farina,Alfa Romeo,42.0,2:02:53.700,FAR
4,Belgium,1950-06-18,Juan Manuel Fangio,Alfa Romeo,35.0,2:47:26.000,FAN

In [80]:
fastest_laps.head()

,Grand Prix,Driver,Car,Time,year,Code
0,Great Britain,Nino Farina,Alfa Romeo,1:50.600,1950,FAR
1,Monaco,Juan Manuel Fangio,Alfa Romeo,1:51.000,1950,FAN
2,Indianapolis 500,Johnnie Parsons,Kurtis Kraft Offenhauser,NaN,1950,PAR
3,Switzerland,Nino Farina,Alfa Romeo,2:41.600,1950,FAR
4,Belgium,Nino Farina,Alfa Romeo,4:34.100,1950,FAR

In [82]:
teams.head()

  Pos           Team   PTS  year
0   1        Vanwall  48.0  1958
1   2        Ferrari  40.0  1958
2   3  Cooper Climax  31.0  1958
3   4            BRM  18.0  1958
4   5       Maserati   6.0  1958

In [84]:
drivers.head()

  Pos                Driver Nationality          Car   PTS  year Code
0   1         Nino  Farina          ITA   Alfa Romeo  30.0  1950  FAR
1   2  Juan Manuel  Fangio          ARG   Alfa Romeo  27.0  1950  FAN
2   3       Luigi  Fagioli          ITA   Alfa Romeo  24.0  1950  FAG
3   4         Louis Rosier          FRA  Talbot-Lago  13.0  1950  ROS
4   5      Alberto  Ascari          ITA      Ferrari  11.0  1950  ASC

In [86]:
def create_tables(cur, conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

In [88]:
def drop_tables(cur,conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [296]:
drivers_table_create = ("""CREATE TABLE IF NOT EXISTS drivers
(POS NUMERIC,
DRIVER VARCHAR,
NATIONALITY VARCHAR,
CAR VARCHAR,
PTS NUMERIC,
YR NUMERIC,
CODE VARCHAR)""")

In [278]:
conn.rollback()

In [300]:
conn.rollback()

In [302]:
cur.execute(drivers_table_create)
conn.commit()

In [128]:
teams_table_create = ("""CREATE TABLE IF NOT EXISTS teams(
POS NUMERIC,
TEAM VARCHAR,
PTS NUMERIC,
YR NUMERIC
)""")

In [130]:
cur.execute(teams_table_create)
conn.commit()

In [478]:
winners_table_create = ("""CREATE TABLE IF NOT EXISTS winners(
GRAND_PRIX VARCHAR,
DATE DATE,
WINNER VARCHAR,
CAR VARCHAR,
LAPS VARCHAR,
TIME INTERVAL,
NAME_CODE VARCHAR
)""")

In [136]:
conn.rollback()

In [480]:
cur.execute(winners_table_create)
conn.commit()

In [470]:
fastest_laps_table_create = ("""CREATE TABLE IF NOT EXISTS fastest_laps(
GRAND_PRIX VARCHAR,
DRIVER VARCHAR,
CAR VARCHAR,
TIME INTERVAL,
YR NUMERIC,
CODE VARCHAR
)""")

In [474]:
conn.rollback()

In [476]:
cur.execute(fastest_laps_table_create)
conn.commit()

In [212]:
drivers.head()

  Pos                Driver Nationality          Car   PTS  year Code
0   1         Nino  Farina          ITA   Alfa Romeo  30.0  1950  FAR
1   2  Juan Manuel  Fangio          ARG   Alfa Romeo  27.0  1950  FAN
2   3       Luigi  Fagioli          ITA   Alfa Romeo  24.0  1950  FAG
3   4         Louis Rosier          FRA  Talbot-Lago  13.0  1950  ROS
4   5      Alberto  Ascari          ITA      Ferrari  11.0  1950  ASC

In [214]:
drivers.dtypes

Pos             object
Driver          object
Nationality     object
Car             object
PTS            float64
year             int64
Code            object
dtype: object

In [216]:
drivers.Pos.unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '13', '19', '20',
       '10', '11', '12', '15', '16', '22', '18', '17', '23', '25', '26',
       '21', '27', '14', '24', 'DQ', '28'], dtype=object)

In [228]:
drivers_clean = drivers[drivers['Pos'] != 'DQ']

In [230]:
drivers_clean.head()

  Pos                Driver Nationality          Car   PTS  year Code
0   1         Nino  Farina          ITA   Alfa Romeo  30.0  1950  FAR
1   2  Juan Manuel  Fangio          ARG   Alfa Romeo  27.0  1950  FAN
2   3       Luigi  Fagioli          ITA   Alfa Romeo  24.0  1950  FAG
3   4         Louis Rosier          FRA  Talbot-Lago  13.0  1950  ROS
4   5      Alberto  Ascari          ITA      Ferrari  11.0  1950  ASC

In [232]:
drivers_clean.Pos.unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '13', '19', '20',
       '10', '11', '12', '15', '16', '22', '18', '17', '23', '25', '26',
       '21', '27', '14', '24', '28'], dtype=object)

In [234]:
teams.Pos.unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', 'EX'], dtype=object)

In [242]:
teams_clean = teams[teams['Pos'] != 'EX']

In [244]:
teams_clean.head()

  Pos           Team   PTS  year
0   1        Vanwall  48.0  1958
1   2        Ferrari  40.0  1958
2   3  Cooper Climax  31.0  1958
3   4            BRM  18.0  1958
4   5       Maserati   6.0  1958

In [246]:
teams_clean.Pos.unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16'], dtype=object)

In [308]:
conn.rollback()

In [310]:
cur.execute("""ALTER TABLE drivers
DROP CONSTRAINT drivers_pkey;""")

In [288]:
drivers_clean_table_insert = ("""
    INSERT INTO drivers(
        Pos,
        Driver,
        Nationality,
        Car,
        PTS,
        YR,
        CODE)
    VALUES(%s,%s,%s,%s,%s,%s,%s)""")

In [286]:
conn.rollback()

In [292]:
conn.rollback()

In [312]:
for i, row in drivers_clean.iterrows():
    cur.execute(drivers_clean_table_insert, list(row))

In [314]:
conn.commit()

In [262]:
teams_clean_table_insert = ("""INSERT INTO teams(
Pos,
Team, 
PTS,
YR) VALUES(%s, %s, %s, %s)""")

In [264]:
for i, row in teams_clean.iterrows():
    cur.execute(teams_clean_table_insert, list(row))

In [266]:
conn.commit()

In [316]:
cur.execute("""ALTER TABLE winners
DROP CONSTRAINT winners_pkey;""")

In [318]:
conn.commit()

In [390]:
winners_table_insert = ("""INSERT INTO winners(
GRAND_PRIX,
DATE,
winner,
car,
laps,
time,
NAME_CODE
) VALUES(%s, %s, %s, %s, %s, %s,%s)""")

In [402]:
conn.rollback()

In [396]:
winners.head()

,Grand Prix,Date,Winner,Car,Laps,Time,Name Code
0,Great Britain,1950-05-13,Nino Farina,Alfa Romeo,70.0,2:13:23.600,FAR
1,Monaco,1950-05-21,Juan Manuel Fangio,Alfa Romeo,100.0,3:13:18.700,FAN
2,Indianapolis 500,1950-05-30,Johnnie Parsons,Kurtis Kraft Offenhauser,138.0,2:46:55.970,PAR
3,Switzerland,1950-06-04,Nino Farina,Alfa Romeo,42.0,2:02:53.700,FAR
4,Belgium,1950-06-18,Juan Manuel Fangio,Alfa Romeo,35.0,2:47:26.000,FAN

In [398]:
winners.Time.unique()

array(['2:13:23.600', '3:13:18.700', '2:46:55.970', ..., '1:54:23.566',
       '1:40:52.554', '1:30:49.876'], dtype=object)

In [400]:
winners.dtypes

Grand Prix     object
Date           object
Winner         object
Car            object
Laps          float64
Time           object
Name Code      object
dtype: object

In [406]:
conn.rollback()

In [440]:
winners['Time'].dtype

dtype('O')

In [442]:
winners['Time']

0       2:13:23.600
1       3:13:18.700
2       2:46:55.970
3       2:02:53.700
4       2:47:26.000
           ...
1105    1:20:43.273
1106    1:20:26.843
1107    1:54:23.566
1108    1:40:52.554
1109    1:30:49.876
Name: Time, Length: 1110, dtype: object

In [444]:
winners['Time'] = pd.to_numeric(winners['Time'],errors='coerce')

In [446]:
winners.Time.max()

nan

In [448]:
winners['Time']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1105   NaN
1106   NaN
1107   NaN
1108   NaN
1109   NaN
Name: Time, Length: 1110, dtype: float64

In [452]:
winners_2 = pd.read_csv('winners.csv')

In [454]:
winners_2.head()

,Grand Prix,Date,Winner,Car,Laps,Time,Name Code
0,Great Britain,1950-05-13,Nino Farina,Alfa Romeo,70.0,2:13:23.600,FAR
1,Monaco,1950-05-21,Juan Manuel Fangio,Alfa Romeo,100.0,3:13:18.700,FAN
2,Indianapolis 500,1950-05-30,Johnnie Parsons,Kurtis Kraft Offenhauser,138.0,2:46:55.970,PAR
3,Switzerland,1950-06-04,Nino Farina,Alfa Romeo,42.0,2:02:53.700,FAR
4,Belgium,1950-06-18,Juan Manuel Fangio,Alfa Romeo,35.0,2:47:26.000,FAN

In [456]:
winners_2.dtypes

Grand Prix     object
Date           object
Winner         object
Car            object
Laps          float64
Time           object
Name Code      object
dtype: object

In [530]:
conn.rollback()

In [532]:
winners_2.isna()

      Grand Prix   Date  Winner    Car   Laps   Time  Name Code
0          False  False   False  False  False  False      False
1          False  False   False  False  False  False      False
2          False  False   False  False  False  False      False
3          False  False   False  False  False  False      False
4          False  False   False  False  False  False      False
...          ...    ...     ...    ...    ...    ...        ...
1105       False  False   False  False  False  False      False
1106       False  False   False  False  False  False      False
1107       False  False   False  False  False  False      False
1108       False  False   False  False  False  False      False
1109       False  False   False  False  False  False      False

[1110 rows x 7 columns]

In [552]:
sum(winners_2.Laps.isna())

3

In [554]:
sum(winners_2.Time.isna())

3

In [556]:
winners_2.dropna(inplace=True)

In [558]:
for i, row in winners_2.iterrows():
    interval_string = f"INTERVAL '{row['Time']}'"
    clean_time_value = interval_string[9:-1]
    cur.execute(winners_table_insert, list(row))

    cur.execute(winners_table_insert, (row['Grand Prix'], row['Date'], row['Winner'], 
                                       row['Car'], row['Laps'], clean_time_value, row['Name Code']))
conn.commit()

In [560]:
fastest_laps.head()

,Grand Prix,Driver,Car,Time,year,Code
0,Great Britain,Nino Farina,Alfa Romeo,1:50.600,1950,FAR
1,Monaco,Juan Manuel Fangio,Alfa Romeo,1:51.000,1950,FAN
2,Indianapolis 500,Johnnie Parsons,Kurtis Kraft Offenhauser,NaN,1950,PAR
3,Switzerland,Nino Farina,Alfa Romeo,2:41.600,1950,FAR
4,Belgium,Nino Farina,Alfa Romeo,4:34.100,1950,FAR

In [590]:
fastest_laps_table_insert = ("""
    INSERT INTO fastest_laps(
        GRAND_PRIX,
        DRIVER,
        CAR,
        TIME,
        YR,
        CODE)
    VALUES(%s,%s,%s,%s,%s,%s)""")

In [592]:
fastest_laps.dropna(inplace=True)

In [596]:
for i, row in fastest_laps.iterrows():
    interval_string = f"INTERVAL '{row['Time']}'"
    clean_time_value = interval_string[9:-1]
    cur.execute(fastest_laps_table_insert, list(row))

    cur.execute(fastest_laps_table_insert, (row['Grand Prix'], row['Driver'], row['Car'], clean_time_value, row['year'], row['Code']))
conn.commit()